.faq-item{
    padding: 10px 20px;
    background-color: var(--s-bg);
    margin: 6px 0;
    border-radius: 15px;
    border: 1px solid var(--mui-border);
}

.faq-question-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0px 0px;
}
.faq-icon{
    transition: transform 0.5s ease !important;
}
.faq-item.open .faq-icon{
    transform: rotate(180deg) !important;
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                padding 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 10px;
    border-radius: 15px;
    margin: 0;
    background-color: var(--whit);
    font-size: 0.7rem;
}
.faq-item.open .faq-answer{
    max-height: 150px;
    opacity: 1;
    padding: 10px;
}
@media screen and (min-width:768px) {
    .faq-answer{
        font-size: 0.8rem;
    }
}