.levels-section{
    background-color: var(--s-bg);
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    padding-top: 40px;
    padding-bottom: 40px;

}
.levels-section-header{
        max-width: 90%;
        margin: 0 auto;
}
.levels-section-levels{
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    overflow-x: auto;
    gap: 2rem;
    margin-top: 2rem;
}
.level-box{
    background: var(--whit);
  border-radius: 15px;
  min-width: 72vw;
  height: 350px;
  box-sizing: border-box;
  /* max-width: 320px;
  flex: 0 0 260px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 18px 22px 18px;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14);
}

@media screen and (min-width: 768px) {
  .levels-section-levels {
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: visible;
    max-width: 1150px;
    margin: 0 auto;
  }
  .level-box {
    min-width: 200px;
    max-width: 210px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:1024px){
  .level-box {
    min-width: 200px;
    max-width: 250px;
  }
}
@media screen and (min-width:1440px){
  .level-box {
    min-width: 200px;
    max-width: 300px;
  }
}
