.consultation-kids{
    background: var(--whit);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.14);
    border-radius: 15px;
    padding: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 100;
}
.consultation-kids-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.consultation-kids-ul{
    margin-left: 0px;
    padding-left: 20px;
    box-sizing: border-box;
}
.consultation-kids-header{
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.consultation-kids-li-m{
    display: none;
}
@media screen and (min-width: 768px) {
    .consultation-kids-li-m{
        display: list-item;
    }
    .consultation-kids{
        padding: 30px 40px;
        margin-top: -20px;
    }
    .consultation-kids-main{
        display: grid;
        gap: 40px;
        grid-template-columns: 1.4fr 1fr;
    }
    .consultation-kids-form{
        order: 0;
        max-width: 500px;
}
    .consultation-kids-ul{
        order: 1;
}

}