#home_greeting{
    background: linear-gradient(rgb(0, 103, 103) 0%, rgb(25, 40, 63) 100%);
    min-height: 500px;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    color: var(--whit);
    /* padding: 5%; */
    border-radius: 15px;
    margin-top:500px;
    margin-bottom:500px;
}
#home_main{
        max-width: 90%;
        padding-top: 5px;
        margin: 0 auto;
}
#home_top{
    margin:0px;
    padding: 0px;
}

@media screen and (min-width: 768px){
  #home_main{
        max-width: 1150px;
        padding-top: 25px;
        margin: 0 auto;
    }
}