#home_greeting{
    background: linear-gradient(to bottom, rgb(0, 103, 103) 0%, rgb(25, 40, 63) 100%);
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    color: var(--whit);
    /* padding: 5%; */
    border-radius: 15px;
}
#home_main{
        max-width: 90%;
        padding-top: 5px;
        padding-bottom: 0px;
        margin: 0 auto;
}
#home_top{
    margin:0px;
    padding: 0px 0px;
  
}
#home_main_image{
    display: none;
}
#home_bottom{
        width:100%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
        color:var(--blac);
    }
#home_text {color: var(--blac); font-size: 30px; font-weight: 600;}   
#home_text_2{
    display:block;
    color: var(--blac);
    margin-top:10px;
}
#home_form_inputs{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:15px;
    margin-top:20px;
} 

#home_form_terms_text{
    color:var(--blac);
}

@media screen and (min-width: 768px){
    #home_greeting{
        border-radius: 35px;
    }
    #home_main{
        max-width: 1150px;
        padding-top: 25px;
        padding-bottom: 55px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    #home_top{
        max-width: 350px;
        padding: 0px 25px;
    }
    #home_title{
        font-size: 40px;
    }
    #home_main_image{
        width: 400px;
        display: inline;
        /* margin: 0 auto; */
    }
    #home_bottom{
        grid-column: 1 / span 2;
        grid-row: 2;
        width:100%;
        height:300px;
        background-color: rgb(255, 255, 255);
        border-radius: 35px;
        
    }
    #home_form_inputs{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    } 
    #home_form_terms_text{
    grid-row: 2;
    grid-column: 1 / span 2;
    }
    #home_form_terms_text_2{
    grid-row: 3;
    grid-column: 1 / span 3;
    }
    #home_text_2{
    display:inline;
    color: var(--blac);
    margin-left: 20px;
    } 
}