.apply-fixed {
    position: fixed;
    inset: 0;
    width:100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.apply-fixed.open{
    opacity: 1;
    pointer-events: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: none;

}
body.apply-fixed-open {
    overflow: hidden;
}

.apply-main{
    background-color: var(--whit);
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    box-sizing: border-box;
}
.apply-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


@media screen and (min-width:768px){
    .apply-main {
        max-width: 500px;
    }
}
