nav {
    background-color: var(--bg);
    /* background-color: #a0a0a0; */
    color: var(--pr-color);
    box-sizing: border-box;
    position: fixed;
    overflow: hidden;
    height: 56px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    top:0;
}


#nav_primary{
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
    border: 1px solid rgb(0,0,0,0.1);
    border-radius: 15px;
    width:170px;
    box-sizing: border-box;
}
#nav_primary:hover{
    cursor:pointer;
    background-color: var(--s-bg);
}

#nav_secondary {
position:relative;
top: 8px; 
left:-4px; 
font-size:12px;
color: var(--purp);
}

/* .nav-links{
    display: none;
    gap: 0px;
}

.nav-links.open{
    display:flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    top:56px;
    right:5%;
    width:90%;
    background-color: rgb(255, 255, 255);
} */

.nav-links {
    position: fixed;
    top: 56px;
    width: 90%;
    margin: 0 auto;
    /* background: white; */

    display: flex;
    flex-direction: column;

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    z-index: 20;
}

.nav-links.open {
    opacity: 1;
    pointer-events: auto;
}

.nav-links.open > a {
    border: 1px solid rgb(0,0,0,0.1);
}

/* mobile toggle button (hamburger) */
.nav-toggle{
    display: inline-flex;
    align-items:center;
    justify-content:center;
    background: none;
    border: none;
    font-size: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgb(0,0,0,0.1);
}
.nav-toggle:hover{
    background-color: var(--s-bg);
}

.lTd {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
    border-radius: 15px;
    cursor:pointer;
}
.lTd:hover {
    background-color: var(--s-bg);
}
@media screen and (min-width: 768px){
    nav{
        max-width: 1150px;
    }
    #nav_primary:hover{
    /* background-color: var(--yell); */
    }
    #nav_home{display:none;}
    .nav-links{
        position: static;
        display: flex; /* horizontal on desktop */
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: end;
        background: transparent;
        padding: 0;
        box-shadow: none;
        opacity:1;
        transition: none;
        pointer-events:auto;
    }
    .nav-links.open{
        position: static;
        display: flex; /* horizontal on desktop */
        flex-direction: row;
        gap: 0px;
        align-items: center;
        width: auto;

        background: transparent;
        padding: 0;
        box-shadow: none;
        opacity:1;
        transition: none;
        pointer-events:auto;
    }
    .nav-links.open > a {
    border: none;
}
    .nav-toggle{ display: none !important;  }
    #nav_consult  {
    margin: 0px 8px;
    background-color: var(--yell);
    padding: 10px 15px;
    border-radius: 15px;
    }
    #nav_consult:hover {
    background-color: var(--blac);
    color: var(--whit);
    }

}