#main {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px){
  #main {
  max-width: 1150px;
}
}
#main{margin-top:50px;}
.custom-button{
  border: 1px solid black;
}
.custom-button:hover{
  background-color: var(--blac);
  color: var(--whit);
  border: none;
}