@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  /* line-height: 1.5; */
  /* font-weight: 400; */
  --nav-height: 50px;
  --bg: rgb(255,255,255); 
  --s-bg: rgb(245,245,245);
  --mui-bg: rgba(247, 247, 250, 1);
  --mui-border: rgba(186, 194, 204, 0.4);
  --pr-color: rgb(0,0,0);
  --purp: rgb(61, 59, 255);
  --purp-light: rgb(130, 128, 255); /* rgb(115, 136, 247) */
  --yell: rgb(211, 255, 36);
  --blac: rgb(0, 0, 0);
  --whit: rgb(255,255,255);
  --star: rgb(240, 176, 0);
  font-family: "Google Sans Flex", system-ui, sans-serif;
  color: var(--pr-color);
}

body {
  margin: 0;
  background-color: var(--bg);
}

html {
  font-size: 16px; /* Sets the base size; 1rem = 16px */
}

.MuiTypography-root {
  font-family: "Google Sans Flex", system-ui, sans-serif;
}


@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}